[Desktop Entry]
Type=Service
Icon=edit-paste
Exec=blubb
Comment=Upload videos to YouTube
Comment[bs]=Šalji video na Youtube
Comment[cs]=Odeslat videa na YouTube
Comment[de]=Videos auf YouTube hochladen
Comment[es]=Enviar vídeos a YouTube
Comment[nl]=Video's naar YouTube uploaden
Comment[pl]=Wyślij film na YouTube
Comment[pt]=Enviar os vídeos para o YouTube
Comment[pt_BR]=Envia vídeos para o YouTube
Comment[sk]=Nahrať videá na YouTube
Comment[sv]=Ladda upp videor till YouTube
Comment[uk]=Вивантаження відео на YouTube
Comment[x-test]=xxUpload videos to YouTubexx
Name=Youtube
Name[nl]=Youtube
Name[pt]=Youtube
Name[pt_BR]=Youtube
Name[sv]=YouTube
Name[uk]=YouTube
Name[x-test]=xxYoutubexx

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=mimeType:video/ogg
X-Purpose-Configuration=videoDesc,videoTitle,videoTags

X-Purpose-PluginTypes=Export
