[Desktop Entry]
Type=Service
Icon=edit-paste
Comment=Upload pictures to imgur
Name=Imgur

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=mimeType:image/*
X-Purpose-Configuration=
X-Purpose-PluginTypes=Export
