[Desktop Entry]
Type=Service
Icon=edit-paste
Comment=Upload pictures to imgur
Comment[bs]=Slanje slika na imgur
Comment[cs]=Odeslat obrázky na Imgur
Comment[es]=Enviar imágenes a imgur
Comment[nl]=Afbeeldingen uploaden naar imgur
Comment[pl]=Wyślij zdjęcia na imgur
Comment[pt]=Enviar imagens para o Imgur
Comment[pt_BR]=Envia imagens para Imgur
Comment[sk]=Nahrať obrázky na imgur
Comment[sv]=Ladda upp bilder till imgur
Comment[uk]=Вивантаження зображень на imgur
Comment[x-test]=xxUpload pictures to imgurxx
Name=Imgur
Name[bs]=Imgur
Name[cs]=Imgur
Name[es]=Imgur
Name[nl]=Imgur
Name[pl]=Imgur
Name[pt]=Imgur
Name[pt_BR]=Imgur
Name[sk]=Imgur
Name[sv]=Imgur
Name[uk]=Imgur
Name[x-test]=xxImgurxx

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=mimeType:image/*
X-Purpose-Configuration=
X-Purpose-PluginTypes=Export
