[Desktop Entry]
Type=Service
Icon=kdeconnect
Name=Send To Device...
Name[es]=Enviar a dispositivo...
Name[nl]=Naar apparaat verzenden...
Name[pt]=Enviar para o Dispositivo...
Name[pt_BR]=Enviar para o dispositivo...
Name[sv]=Skicka till enhet...
Name[uk]=Надіслати на пристрій…
Name[x-test]=xxSend To Device...xx
Comment=Send through KDE Connect
Comment[es]=Enviar a través de KDE Connect
Comment[nl]=Via KDE Connect verzenden
Comment[pt]=Enviar pelo KDE Connect
Comment[pt_BR]=Enviar através do KDE Connect
Comment[sv]=Skicka via KDE-anslut
Comment[uk]=Надіслати за допомогою KDE Connect
Comment[x-test]=xxSend through KDE Connectxx

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=
X-Purpose-Configuration=device
X-Purpose-PluginTypes=Export
