[Desktop Entry]
Type=Service
Icon=edit-paste
Name=Send To Contact...
Name[bs]=Šalji na kontakt...
Name[nl]=Naar contactpersoon verzenden...
Name[pl]=Wyślij do kontaktu...
Name[pt]=Enviar para o Contacto...
Name[pt_BR]=Enviar para o contato...
Name[sk]=Poslať do kontaktu...
Name[sv]=Skicka till kontakt...
Name[uk]=Надіслати контакту…
Name[x-test]=xxSend To Contact...xx
Comment=Send through Instant Messaging
Comment[bs]=Šalji kroz instant poruke
Comment[nl]=Via Instant Messaging verzenden
Comment[pl]=Wyślij przez komunikatora internetowego
Comment[pt]=Enviar por Mensagens Instantâneas
Comment[pt_BR]=Envia por mensagem instantânea
Comment[sk]=Poslať cez instantné správy
Comment[sv]=Skicka via direktmeddelanden
Comment[uk]=Надіслати за допомогою служби обміну повідомленнями
Comment[x-test]=xxSend through Instant Messagingxx

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=
X-Purpose-Configuration=
X-Purpose-PluginTypes=Export
