[Desktop Entry]
Type=Service
Icon=edit-paste
Comment=Upload text to pastebin
Comment[bs]=Pošalji tekst na pastebin
Comment[de]=Text zu Pastebin hochladen
Comment[es]=Enviar texto a pastebin
Comment[nl]=Tekst uploaden naar pastebin
Comment[pl]=Wysyłaj tekst na pastebin
Comment[pt]=Enviar o texto para o Pastebin
Comment[pt_BR]=Enviar o texto para o Pastebin
Comment[sv]=Ladda upp text till pastebin
Comment[uk]=Вивантажити текст на pastebin
Comment[x-test]=xxUpload text to pastebinxx
Name=Pastebin
Name[bs]=Pastebin
Name[cs]=Vkládací koš
Name[de]=Pastebin
Name[es]=Pastebin
Name[nl]=Pastebin
Name[pl]=Pastebin
Name[pt]=Pastebin
Name[pt_BR]=Pastebin
Name[sv]=Pastebin
Name[uk]=Pastebin
Name[x-test]=xxPastebinxx

X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities

X-Purpose-Constraints=mimeType:text/plain
X-Purpose-Configuration=
X-Purpose-PluginTypes=Export
